/** @format */

.form {
  background-color: var(--secondary);
  padding: 5rem 1rem;
  border-radius: 0.5rem;
}

.welcome {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: calc(32 / 24);
  color: white;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.highlight {
  color: var(--primary);
}

.headDescription {
  color: var(--secondary-light);
  font-size: 0.95rem;
  margin-bottom: 2rem;
}

.inputWrap {
  margin-bottom: 0.5rem;
}

.email,
.password {
  margin-bottom: 1rem;
}

.others {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.forgot {
  color: var(--secondary-light);
  font-weight: 600;
}

.signupWrap {
  display: flex;
  align-items: center;
}

.signup {
  color: var(--neon);
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 1rem;
}

.forward {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--neon);
  color: white;
}

@media (min-width: 1440px) {
  .form {
    padding: 5rem 3rem;
  }

  .welcome {
    font-size: 2rem;
    line-height: calc(48 / 32);
  }
}
