/** @format */
.coverImage {
  display: none;
}

.formWrapper {
  background-image: url('../assets/images/formCover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem 1rem;
}

.form {
  background-color: var(--secondary);
  padding: 5rem 1rem;
  border-radius: 0.5rem;
}

.welcome {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: calc(32 / 24);
  color: white;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.highlight {
  color: var(--primary);
}

.headDescription {
  color: var(--secondary-light);
  font-size: 0.95rem;
  margin-bottom: 2rem;
}

.inputWrap {
  margin-bottom: 0.5rem;
}

.email,
.password {
  margin-bottom: 1rem;
}

.input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--secondary-light);
  padding: 1rem 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
  font-size: 1.25rem;
  width: 80%;
}

.input::placeholder {
  color: white;
}

.error {
  color: var(--primary);
  font-weight: 600;
  padding-left: 0.5rem;
}

.signinBtn {
  font-size: 1rem;
  line-height: calc(24 / 16);
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  background-color: var(--neon);
  width: 100%;
  max-width: 12.5rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.signinBtn:disabled,
.signinBtn:hover:disabled {
  filter: brightness(0.5);
  cursor: no-drop;
}

.signinBtn:hover {
  filter: brightness(1.15);
}

.signinBtn:active {
  filter: brightness(0.85);
}

.others {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.forgot {
  color: var(--secondary-light);
  font-weight: 600;
}

.signupWrap {
  display: flex;
  align-items: center;
}

.signup {
  color: var(--neon);
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 1rem;
}

.forward {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--neon);
  color: white;
}

@media (min-width: 1440px) {
  .wrapper {
    display: flex;
    align-items: center;
  }

  .coverImage {
    display: block;
    background-image: url('../assets/images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
  }

  .header {
    padding: 1rem 1.5rem;
  }

  .headText {
    font-size: 1.5rem;
    line-height: calc(32 / 24);
    font-weight: 500;
    text-transform: uppercase;
  }

  .brand {
    font-size: 2rem;
    color: var(--secondary);
  }

  .formWrapper {
    padding: 2rem 3rem;
  }

  .form {
    padding: 5rem 3rem;
  }

  .welcome {
    font-size: 2rem;
    line-height: calc(48 / 32);
  }
}
