/** @format */
.coverImage {
  display: none;
}

.formWrapper {
  background-image: url('../assets/images/formCover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem 1rem;
}

@media (min-width: 1440px) {
  .wrapper {
    display: flex;
    align-items: center;
  }

  .coverImage {
    display: block;
    background-image: url('../assets/images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
  }

  .header {
    padding: 1rem 1.5rem;
  }

  .headText {
    font-size: 1.5rem;
    line-height: calc(32 / 24);
    font-weight: 500;
    text-transform: uppercase;
  }

  .brand {
    font-size: 2rem;
    color: var(--secondary);
  }

  .formWrapper {
    padding: 2rem 3rem;
  }
}
